<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>title</title>
</head>
<body>
	<div class="container" th:fragment="header">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Kafka Web Admin</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/home}">Home</a></li>
					<li><a th:href="@{/zookeeper}">Manage Zookeeper</a></li>
					<li><a th:href="@{/brokers}">Manage Brokers</a></li>
      				<li><a th:href="@{/topics}">Manage topics</a></li>
      			</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
							Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
							Login</a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>

